.light-wrap {
  --border-radius: 6px;
  --frosty-filter: 10px;
  --caption-background: rgba(0, 0, 0, .7);
  --caption-color: rgba(255, 255, 255, .9);
  --caption-border-radius: 10px;

  opacity: 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(var(--frosty-filter));
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  transition: opacity 150ms ease-out;
}

.light-in-wrap {
  display: flex;
  //height: 100vh;
  flex: 1 1 100%;
  overflow: hidden;
  justify-content: center;

  &.light-with-nav {
    justify-content: space-between;
  }
}

.light-image-wrap {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .light-image-caption {
    position: absolute;
    bottom: 3.5vh;
    padding: .5rem 1rem;
    background-color: var(--caption-background);
    color: var(--caption-color);
    border-radius: var(--caption-border-radius);
    transition: opacity 250ms ease-out;
  }
}

img.light-image {
  transition: all 150ms ease-out;
  max-height: 0;
  max-width: 0;
  box-shadow: 0 0 0;
  opacity: 0;
  border-radius: var(--border-radius);
}

.light-opened {
  opacity: 1;

  img.light-image {
    pointer-events: all;
    opacity: 1;
    max-height: 95%;
    max-width: 100%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  }

  .light-image-caption {
    opacity: 1;
  }

  .light-image-loading {
    img, div {
      opacity: 0;
    }
  }
}

.light-nav {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 9vw;
  cursor: pointer;

  div {
    margin: 0 10px;
  }

  div::before {
    transition: border-color 200ms ease-in;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    border-color: rgba(255, 255, 255, .5);
    content: "";
    display: inline-block;
    height: 5vmin;
    width: 5vmin;
    position: relative;
    transform: rotate(-135deg);
    vertical-align: top;
  }

  .nav-right {
    left: auto;

    &::before {
      transform: rotate(45deg);
    }
  }

  &:hover div::before {
    border-color: rgba(255, 255, 255, 0.9);
  }
}

.light-previews {
  margin: 60px 30px 1rem 0;
  align-self: flex-start;
  max-height: calc(100vh - 60px - 1rem);
  max-width: 260px;
  min-width: 115px;

  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;;
  grid-gap: .75rem;
  overflow: auto;
  scroll-snap-type: both proximity;
  scroll-behavior: smooth;

  img.light-preview {
    scroll-snap-align: start;
    cursor: pointer;
    width: 115px;
    height: 65px;
    object-fit: cover;
    border-radius: var(--border-radius);
    opacity: .5;
    transition: opacity 150ms ease-in;
    pointer-events: all;

    &.current, &:hover {
      opacity: 1;
    }
  }
}

.light-close {
  position: fixed;
  top: 1.5vmin;
  right: 1.5vmin;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;

  &::before, &::after {
    content: "";
    position: absolute;
    height: .1em;
    width: 70%;
    margin-top: calc(50% - 0.05em);
    margin-left: 15%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    transition: all 200ms ease-in;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before, &::after {
      background: rgba(255, 255, 255, 0.9);
    }
  }
}


.light-loader {
  border-top: .2em solid rgba(255, 255, 255, .9);
  border-right: .2em solid transparent;
  animation: light-loader 1s linear infinite;
  border-radius: 100%;
  position: fixed;
  width: 50px;
  height: 50px;
  margin: -25px;
  top: 50vh;
  left: 50vw;
}

@keyframes light-loader {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1280px) {
  .light-wrap {
    flex-flow: column;
  }
  .light-previews {
    flex-wrap: nowrap;
    max-width: 100%;
    margin: .5rem 2rem 0;
    padding-bottom: 1rem;
  }
}

@media (max-width: 599px) {
  .light-in-wrap.light-with-nav {
    justify-content: center;
  }

  .light-nav {
    display: none !important;
  }

  .light-opened img.light-image {
    max-width: 95vw;
  }
}
